p{
    background-color: lightgray;
    color: black; 
    font: 1em sans-serif;
    padding: 30px; 
    margin: 30px; 
    border-width: 3px;
    border-style: solid;
    border-color: black;
     
}