.NavLinkStyle{
    background-color: lightgray;
    color: black; 
    font: 1em sans-serif;
    padding: 10px; 
    margin: 10px; 
    border-width: 3px;
    border-style: solid;
    border-color: black;
     
}
#NavLinkStyle{
    color: black;
    font-size: large;
    font: 1em sans-serif; 
}
.Header{
    color: black;
    
     
    background-color: rgb(133, 133, 189);
    text-align: center; 

    
}
.background{
    background-image: url(imgs/SouthDakota.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100%; 
    height: 100%; 
    opacity: 30%;
   
}
